<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pdui.netlify.app/pdui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="..//Components/Css/homepage.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a class="active" href="..//Views/index.html">MyStore</a>
        <input class="search-bar" type="text" placeholder="Search">
        <a href="..//Views/cart.html">Cart<span class="material-icons-outlined">
            shopping_cart
          </span>
              </a>
        <a href="..//Views/wishlist.html">WishList<span class="material-icons-outlined">
       favorite_border
        </span>
          </a>
        <a href="..//Views/login.html">Login</a>
    </nav>
    <div class="home-container">
        <div class="home-images">
            <a href="../Views/products.html">
                <img src="..//Components/Images/homepage.gif" alt="">
            </a>
        </div>
        <div class=" categories-container ">
            <div class="heading ">
                <h1>CATEGORIES TO BAG</h1>
            </div>
            <div class="categories ">
                <div class="round ">
                    <img src="..//Components/Images/jacket.jpeg " alt=" ">
                </div>
                <div class="round ">
                    <img src="..//Components/Images/jeans (1).jpeg " alt=" ">
                </div>
                <div class="round ">
                    <img src="..//Components/Images/tshirt.jpg " alt=" ">
                </div>
                <div class="round ">
                    <img src="..//Components/Images/white-shoes.webp " alt=" ">
                </div>
            </div>
        </div>
        <div class="shopnow ">
            <div class="button-solid-secondary ">
                <a href="..//Views/products.html ">ShopNow</a>
            </div>
        </div>
    </div>
</body>

</html>