<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pdui.netlify.app/pdui.css">
    <link rel="stylesheet" href="..//Components/Css/products.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <a class="active" href="..//Views/index.html">MyStore</a>
        <input class="search-bar" type="text" placeholder="Search">
        <a href="..//Views/cart.html">Cart<span class="material-icons-outlined">
            shopping_cart
          </span>
              </a>
        <a href="..//Views/wishlist.html">WishList<span class="material-icons-outlined">
       favorite_border
        </span>
          </a>
        <a href="..//Views/login.html">Login</a>
    </nav>
    <main>
        <div class="sidebar">
            <div class="filter-heading">
                <h3>Filters</h3>
                <h4>Clear</h4>
            </div>
            <hr>
            <div class="Filters">
                <div class="category">
                    <div class="filter-heading">
                        <h3>Categories</h3>
                    </div>
                    <div class="filter-category">
                        <div class="filter-checkbox">
                            <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>Shirt</span>
                     </label>
                            <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>Jacket</span>
                     </label>
                            <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>T-Shirt</span>
                     </label>
                        </div>
                        <hr>
                    </div>
                    <div class="filter-rating">
                        <div class="filter-heading">
                            <h3>Ratings</h3>
                        </div>
                        <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>4 Star & above</span>
                     </label>
                        <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>3 Star & above</span>
                     </label>
                        <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>2 Star & above</span>
                     </label>
                        <label class="filter-input">
                     <input type="checkbox" value="">
                     <span>1 Star & above</span>
                     </label>
                    </div>
                </div>
                <hr>
                <div class="filter-sort">
                    <div class="filter-heading">
                        <h3>Sort By</h3>
                    </div>
                    <label class="filter-input">
                     <input type="checkbox" value="">
                     <span> Price - Low to High</span>
                     </label>
                    <label class="filter-input">
                     <input type="checkbox" value="">
                     <span> Price - High to Low</span>
                     </label>
                </div>
                <hr>
                <div class=" filter-bydiscount">
                    <h2>Discounts</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards-container">
                <div class="vertical-card">
                    <img src="../Components/Images/jacket.jpeg" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
                <div class="vertical-card">
                    <img src="../Components/Images/jeans (1).jpeg" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
                <div class="vertical-card">
                    <img src="..//Components/Images/white-shoes.webp" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
                <div class="vertical-card">
                    <img src="..//Components/Images/tshirt.jpg" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
                <div class="vertical-card">
                    <img src="..//Components/Images/jacket.jpeg" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
                <div class="vertical-card">
                    <img src="..//Components/Images/tshirt.jpg" alt="">
                    <div class="text">
                        <div>Gorgeous White Shirt</div>
                        <p>RS.986 20%off</p>
                    </div>
                    <div class="badge">
                        <span class="material-icons-outlined">favorite</span>
                    </div>
                    <div class="card-btn">
                        <button class="cart">ADDToCart</button>
                        <button class="whishlist">BuyNow</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>