<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pdui.netlify.app/pdui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="..//Components/Css/signup.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a class="active" href="..//Views/index.html">MyStore</a>
        <input class="search-bar" type="text" placeholder="Search">
        <a href="..//Views/cart.html">Cart<span class="material-icons-outlined">
            shopping_cart
          </span>
              </a>
        <a href="..//Views/wishlist.html">WishList<span class="material-icons-outlined">
       favorite_border
        </span>
          </a>
        <a href="..//Views/login.html">Login</a>
    </nav>
    <form action="" class="login-form">
        <h1 class="login-heading">Sign In</h1>
        <div>
            <label for="">Username</label>
            <input placeholder="useremail.com" class="input-box" type="text">
        </div>
        <div>
            <label for="">Password</label>
            <input placeholder="******" class="input-box" type="password">
            <div>
                <input class="btn" type="button" value="Login">
            </div>
            <div class="checkbox">
                <input type="checkbox">
                <span>Remember Me</span>
            </div>
            <div class="sign-in">
                <a href="..//Views/login.html">Already have an Account? Log In</a>
            </div>
    </form>
</body>

</html>