<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pdui.netlify.app/pdui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="..//Components/Css/wishlist.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <a class="active" href="../Views/index.html">MyStore</a>
        <input class=" search-bar " type="text " placeholder="Search ">
        <a href="..//Views/cart.html ">Cart<span class="material-icons-outlined ">
            shopping_cart
          </span>
              </a>
        <a href="..//Views/wishlist.html ">WishList<span class="material-icons-outlined ">
       favorite_border
        </span>
          </a>
        <a href="..//Views/login.html ">Login</a>
    </nav>
    <div class="Wishlist-header ">
        <h1>My Wishlist</h1>
    </div>
    <div class="container ">
        <div class="cards-container ">
            <div class="vertical-card ">
                <img src="..//Components/Images/tshirt.jpg " alt=" ">
                <div class="text ">
                    <div>Gorgeous White Shirt</div>
                    <p>RS.986 20%off</p>
                </div>
                <div class="badge ">
                    <span class="material-icons-outlined ">favorite</span>
                </div>
                <div class="card-btn ">
                    <button class="cart ">ADDToCart</button>
                    <button class="whishlist ">MoveToCart</button>
                </div>
            </div>
            <div class="vertical-card ">
                <img src="..//Components/Images/jeans (1).jpeg " alt=" ">
                <div class="text ">
                    <div>Gorgeous White Shirt</div>
                    <p>RS.986 20%off</p>
                </div>
                <div class="badge ">
                    <span class="material-icons-outlined ">favorite</span>
                </div>
                <div class="card-btn ">
                    <button class="cart ">ADDToCart</button>
                    <button class="whishlist ">MoveToCart</button>
                </div>
            </div>
            <div class="vertical-card ">
                <img src="..//Components/Images/white-shoes.webp " alt=" ">
                <div class="text ">
                    <div>Gorgeous White Shirt</div>
                    <p>RS.986 20%off</p>
                </div>
                <div class="badge ">
                    <span class="material-icons-outlined ">favorite</span>
                </div>
                <div class="card-btn ">
                    <button class="cart ">ADDToCart</button>
                    <button class="whishlist ">MoveToCart</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>